*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-container{
    height: 100vh;
    background: #2b2d42;
}
.container-calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator > *{
    color: black;
}
.display > *{
    color: white;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background: url('../img/gatito.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}
.calculator button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background: #E8C39E;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 10px 1px #cfab87;
    user-select: none;
    transition: filter 200ms ease-out;
}
.calculator button:hover{
    filter: brightness(90%);
}
.calculator button:active{
    background: #42392d;
}
.calculator button:focus{
    outline: none;
}
.calculator .display{
    grid-column: 1 / -1;
    padding: 1rem;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background: #363636;
    text-align: right;
    justify-content: space-between;
    border-radius: 32px;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}
.calculator .col-2{
    grid-column: span 2;
}
#valor-actual{
    font-size: 1.5em;
}
#valor-anterior{
    font-size: 2em;
}